*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}


header,
main{
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.container{
    display: flex;
}

.container>header{
    background-color: #000000;
    width: 250px;
    color: #626262;
    font-weight: bold;
    font-size: 12px;
    padding-left: 1rem;
    line-height: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


ul>li{
    list-style-type: none;
}

.logo{
    width: 65%;
    padding-top: 1rem;
}

.nome-playlist ul li>h1{
    font-size: 16px;    
}

.font-white{
    color: white;
}

#plus{
    color: #a3a3a3;
    font-size: 25px;
}

.utente ul li:first-child{
    font-size: 10px;
}

.utente ul li:last-child{
    font-size: 15px;
}

.border-bottom{
    border-bottom-color:#626262;
    border-bottom-width: 0.5px;
    border-bottom-style: inset;
    width: 90%;
}

main{
    background-color: #141922;
    width: calc(100%-250px);
    
}

main>header{
    height: auto;
}

.upgrade{
    display: flex;
    justify-content: flex-end;
    background-color: #080b12;
    height: 70px;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: -moz-available;
}

.upgrade>button{
    margin-right: 0.2rem;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    background-color: #080b12;
    color: white;
    font-weight: bold;
}

.generi>ul{
    display: flex;
    justify-content: center;
    color: #75777c;
    font-weight: bold;
    padding-top: 1rem;
    font-size: 14px;
}

.generi ul>li{
    padding-right: 1.5rem;
}


.recently-played>div{
    padding: 1rem;
    text-align: center;
    color: white;
}

.recently-played div>img{
    width: 100%;
}

.recently-played{
    display: flex;
    justify-content: space-around; 
    font-size: 12px;
    font-weight: bold;  
    flex-basis: auto;
  }

.recently-played div>*{
    padding-bottom: 0.5rem;
}

.recently-played div>p{
    color: #626262;
}


.contenuto>h1{
    padding-left: 1rem;
    padding-top: 1.8rem;
}

.per-te{
    display: flex;
    font-size: 12px;
    width: calc(100%/3);
}

.per-te div>img{
    width: 100%;
    padding-bottom: 1rem;
}

.per-te>div{
    padding: 1rem;
    text-align: center;
    color: white;
}

.artisti{
    display: flex;
    font-size: 12px;
    width: calc(100%/3);
}

.artisti div>img{
    width: 100%;
    padding-bottom: 1rem;
    border-radius: 50%;
}

.artisti>div{
    padding: 1rem;
    text-align: center;
    color: white;
}

#ludovico{
    width: 93%;
}

.contenuto>p{
    color: #626262;
    font-weight: bold;
    padding: 0.2rem 1rem 2rem;
}

#line-height{
    line-height: 1.1rem;
}

.contenuto{
    margin-top: 70px;
}

footer{
    background-color: #282828;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

footer section ul>li{
    list-style-type: none;
}

footer section> ul{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: white;
    font-weight: bold;
}

footer>section{
    width: calc(100%/3);
}


.play div> ul{
    display: flex;
    padding-bottom: 1rem;
}

.brano {
    display: flex;
    justify-content: flex-start;
}

.brano ul li>img{
    width: 100%;
    padding: 0 1rem;
}

.brano > ul:nth-child(1) > li:nth-child(1) {
    width: 15%;
}


.brano > ul:nth-child(1) > li:nth-child(3) {
    padding: 0 1rem 0 3rem;
}

.font-gray{
    color: #626262;
}

.play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  

.play div ul>li{
    padding: 0 1rem;
    font-size: 20px;
}

.minuti {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }

  .linea-minuti{
    width: 500px;
    background-color: #5a5a5a;
  }
  
.minuti>span{
    padding: 0 1rem;
}

.linea-minuti>.riprodotti{
    width: 120px;
    background-color: lightgrey;

}

.linea-minuti, .riprodotti{
    height: 5px;
    border-radius: 20px;
}